<!-- Filter Datatables -->
<section id="ngx-datatable-filter">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Filter</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <!-- ngx-datatable-filter -->
            <fieldset class="form-group">
              <label for="ngx-filter-ref"
                >Search:
                <input
                  id="ngx-filter-ref"
                  class="form-control form-control-sm d-inline-block width-200"
                  type="text"
                  placeholder="Filter the Name column..."
                  (keyup)="filterUpdate($event)"
                />
              </label>
            </fieldset>
            <ngx-datatable
              class="bootstrap core-bootstrap"
              [columns]="columns"
              [columnMode]="ColumnMode.force"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [limit]="10"
              [rows]="rows"
              [scrollbarH]="true"
            >
              <ngx-datatable-column
                name="Message"
                prop="message"
                [width]="30"
              ></ngx-datatable-column>
              <ngx-datatable-column
                name="Name"
                prop="name"
                [width]="30"
              ></ngx-datatable-column>
              <ngx-datatable-column name="Actions" [width]="70">
                <ng-template ngx-datatable-cell-template>
                  <i
                    class="ft-more-vertical text-primary cursor-pointer mr-2"
                  ></i>
                  <i class="ft-edit text-primary cursor-pointer"></i>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
            <!-- ngx-datatable-filter -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Filter Datatables -->
