<!--table starts-->
<section id="ng-tables">
  <div class="row text-left">
    <div class="col-12">
      <div class="content-header">Table</div>
    </div>
  </div>
  <div class="row text-left">
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <form>
              <div class="form-group form-inline">
                Full text search:
                <input
                  class="form-control ml-2"
                  type="text"
                  name="searchTerm"
                  [(ngModel)]="service.searchTerm"
                />
                <span class="ml-3" *ngIf="service.loading$ | async"
                  >Loading...</span
                >
              </div>

              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col" sortable="name" (sort)="onSort($event)">
                        Name
                      </th>
                      <th scope="col" sortable="age" (sort)="onSort($event)">
                        Age
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let pet of pets$ | async">
                      <th scope="row">{{ pet.id }}</th>
                      <td>
                        <ngb-highlight
                          [result]="pet.name"
                          [term]="service.searchTerm"
                        ></ngb-highlight>
                      </td>
                      <td>
                        <ngb-highlight
                          [result]="pet.age | number"
                          [term]="service.searchTerm"
                        ></ngb-highlight>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="d-flex justify-content-between p-2">
                <ngb-pagination
                  [collectionSize]="total$ | async"
                  [(page)]="service.page"
                  [pageSize]="service.pageSize"
                >
                </ngb-pagination>

                <select
                  class="custom-select"
                  style="width: auto"
                  name="pageSize"
                  [(ngModel)]="service.pageSize"
                >
                  <option [ngValue]="2">2 items per page</option>
                  <option [ngValue]="4">4 items per page</option>
                  <option [ngValue]="6">6 items per page</option>
                </select>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--table ends-->
